<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ParadoxLabs_AuthnetcimHyvaCheckout">
        <sequence>
            <module name="ParadoxLabs_Authnetcim"/>
            <module name="Hyva_Checkout"/>
            <module name="Hyva_Theme"/>
        </sequence>
    </module>
</config>
